@import "./global.css";

@import "./components/bookmark/bookmark.css";
@import "./components/card-list/card-list.css";
@import "./components/card/card.css";
@import "./components/header/header.css";
@import "./components/navigation/navigation.css";
@import "./components/profile/profile.css";
@import "./components/counter-list/counter-list.css";

.form-page {
  margin-top: 120px;
}

.form-page form {
  display: grid;
  gap: 2rem;
  padding: 2rem;
}
